elevenlabs==0.2.6
bittensor
torch
librosa
transformers
jiwer
torchaudio
torch
pandas
matplotlib
datasets
sentencepiece
soundfile
speechbrain
tabulate
gitpython
TTS
pydub
sox
soundfile
fairseq
encodec
funcy
audiolm_pytorch
torchaudio
scipy
psutil
GPUtil